/* :root{
      --login-form-background-color: hsla(#1B1B19, 0.8);
      --large-radius: 20px;
      --small-radius: 10px;
      --white-color: #FAF8F3;
      --black-color: #0D0C0A;
      --facebook-color: #3B5998;
      --twitter-color: #1DA1F2;
      --google-color: #DB4437;
}

.login-container {
      margin: 0;
      padding: 0;
      background: #fff;
      font-family: sans-serif;
      background-image: url("../../assets/recipes-hub-logo.png") ;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.form-container{
      width: 20rem;
      height: 25rem;
      padding: 1rem;
      background-image: linear-gradient(rgba(27, 27, 25, 0.9), rgba(27, 27, 25, 0.9));
      background-size: cover;
      border-radius: var(--large-radius);
      display: flex;
      flex-direction: column;
      justify-content:space-evenly;
      align-items: center;
      gap: 0.5rem;
}

.left-section{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1.2rem;
      width: 100%;
}

.form{
display: flex;
flex-direction: column;
gap: 0.5rem;
}

h1{
      color: var(--white-color);
}

.submit-button{
      width: 50%;
}

.center-section{
      height: 2.5rem;
      width: 2.5rem;
      font-size: 1rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items:center;
      color: var(--black-color);
      background-color: var(--white-color);
}

.right-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.2rem;
      width: 100%;
}

.submit-button-facebook, .submit-button-twitter, .submit-button-google{
      width: 100%;
}

.submit-button-facebook{
      background-color: var(--facebook-color);
      border: 2px solid var(--facebook-color);
}

.submit-button-facebook:hover{
      background-color: var(--white-color);
      color: var(--facebook-color);
      border: 2px solid var(--white-color);
}

.submit-button-twitter{
      background-color: var(--twitter-color);
      border: 2px solid  var(--twitter-color);
}

.submit-button-twitter:hover{
      background-color: var(--white-color);
      color: var(--twitter-color);
      border: 2px solid var(--white-color);
}

.submit-button-google{
      background-color: var(--google-color);
      border: 2px solid var(--google-color);
}

.submit-button-google:hover{
      background-color: var(--white-color);
      color: var(--google-color);
      border: 2px solid var(--white-color);
}

@media screen and (min-width: 321px){
      .form-container{
            gap: 1rem;
            height: 30rem;
      }

      .left-section{
            gap: 1rem;
      }

      .form{
            gap: 1rem;
            }

      .center-section{
            height: 3rem;
            width: 3rem;
            font-size: 1.2rem;
            border-radius: 50%;
      }

      .right-section{
            gap: 1rem;

      }
}

@media screen and (min-width: 414px){
      .form-container{
            gap: 1.5rem;
            height: 35rem;
            width: 23rem;
      }

      .left-section{
            gap: 1.5rem;
      }

      .form{
            gap: 1.5rem;
            }

      .center-section{
            height: 3rem;
            width: 3rem;
            font-size: 1.2rem;
            border-radius: 50%;
      }

      .right-section{
            gap: 1.5rem;

      }
}

@media screen and (min-width: 600px){
      .form-container{
            gap: 1.5rem;
            height: 45rem;
            width: 30rem;
            padding: 2rem;
      }

      .left-section{
            gap: 1.5rem;
      }

      .form{
            gap: 1.5rem;
            }

      .center-section{
            height: 4rem;
            width: 4rem;
            font-size: 1.5rem;
            border-radius: 50%;
      }

      .right-section{
            gap: 1.5rem;

      }

      .submit-button-facebook, .submit-button-twitter, .submit-button-google, .username, .password, .submit-button {
            font-size: 1.5rem;
      }
}

@media screen and (min-width: 900px){
      .form-container{
            gap: 1.5rem;
            height: 25rem;
            width: 60rem;
            padding: 2rem;
            display: flex;
            flex-direction: row;
      }

      .left-section, .form, .right-section{
            gap: 2rem;
      }

      .center-section{
            height: 4rem;
            min-width: 4rem !important;
            font-size: 1.5rem;
            border-radius: 50%;
      }

      .submit-button-facebook, .submit-button-twitter, .submit-button-google, .username, .password, .submit-button {
            font-size: 1.5rem;
      }
} */
