:root{
      --hamburger-color: #fff;
      --list-menu-item-color: #FEC441;
      --list-menu-color: #373634;
}

.hamburger-icon{
      color: var(--hamburger-color);
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover{
            transform: scale(1.05);
      }
}

.close-icon{
      color: var(--hamburger-color);
      font-size: 2.5rem;
      font-weight: 800;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover{
            transform: scale(1.05);
      }
}

.list-menu {
      text-decoration: none;
      top: 8.8%;
      background-color: var(--list-menu-color);
      padding: 0 0;
      border-radius: 10px;
      width: 5rem;
      color: var(--list-menu-item-color);
}

.nav-link{
      color: var(--list-menu-item-color);
      font-size: 1rem;
      text-align: center;
      padding: 0.2rem 0;
      width: 100%;
      transition: all 0.3s ease-in-out;
      border-bottom: 2px solid var(--list-menu-item-color);

      &:hover{
            background-color: var(--list-menu-item-color);
            color: var(--list-menu-color);
            width: 100%;
            text-align: center;
      }

      &:first-child:hover{
            border-radius: 10px 10px 0px 0px;
      }

      &:last-child:hover{
            border-radius: 0px 0px 10px 10px;
      }

      &:last-child{
            border-bottom: none;
      }

      &:first-child{
            border-top: none;
      }

}

@media only screen and (min-width: 321px){
      body{
            font-size: 1.2rem;
      }

      .close-icon, .hamburger-icon{
            font-size: 2rem;
      }

      .recipe-logo{
            width: 4rem;
      }

      .list-menu {
            width: 5rem;
            top: 7.8%;
            left: 76.5%;
      }
}

@media only screen and (max-width: 320px){

      body{
            font-size: 1.2rem;
      }

      .list-menus{
            display: none;
      }

      .close-icon, .hamburger-icon{
            font-size: 2rem;
      }

      .recipe-logo{
            width: 4rem;
      }

      .list-menu {
            width: 5rem;
            top: 11.8%;
            left: 74.5%;
      }
}

@media screen and (min-width: 360px){

      .list-menu {
            width: 5rem;
            top: 9%;
            left: 77%;
      }

      .list-menus{
            display: none;
      }
}

@media screen and (min-width: 375px){

      .list-menu {
            width: 5rem;
            top: 9%;
            left: 76.4%;
      }

      .list-menus{
            display: none;
      }
}

@media screen and (min-width: 375px){

      .list-menu {
            position: absolute;
            width: 5rem;
            top: 9%;
            left: 76.8%;
      }

      .list-menus{
            display: none;
      }
}

@media screen and (min-width: 414px){

      .list-menu {
            position: absolute;
            width: 5rem;
            top: 7.8%;
            left: 79.5%;
      }

      .list-menus{
            display: none;
      }

      .hamburger-icon{
           display: block;
      }

      .close-icon{
            display: block;
      }
}

@media screen and (min-width: 768px){

      .close-icon, .hamburger-icon{
            font-size: 3rem;
      }

      .home, .about, .contact, .login{
            font-size: 1.5rem;
      }

      .recipe-logo{
            width: 4rem;
      }

      .list-menu {
            position: absolute;
            width: 8rem;
            top: 8.3%;
            left: 82%;
      }

      .list-menus{
            display: none;
      }

      .hamburger-icon{
           display: block;
      }

      .close-icon{
            display: block;
      }

      .nav-link{

            &:hover{
                  background-color: var(--list-menu-item-color);
                  color: var(--list-menu-color);
                  transition: all 0.1s ease-in-out;
                  width: 100%;
                  text-align: center;
            }

      &:first-child{
            padding-top: 0.5rem;
      }

      &:last-child{
            padding-bottom: 0.7rem;
      }

      }
}

@media screen and (min-width: 679px){
      body{
            font-size: 1.2rem;
      }

      .recipe-logo img{
            width: 3rem;
            border: 2px solid var(--list-menu-item-color);
      }

      .nav-links{
            color: var(--list-menu-item-color);
            font-size: 0.8rem;
            text-align: center;
            padding: 0.2rem 0;
            width: 5rem;
            transition: all 0.3s ease-in-out;
            text-decoration: none;

            &:hover{
                  background-color: var(--list-menu-item-color);
                  color: var(--list-menu-color);
                  text-align: center;
            }

            &:first-child:hover{
                  border-radius: 0px 10px 0px 10px;
            }

            &:nth-child(2):hover{
                  border-radius: 0px 10px 0px 10px;
            }

            &:nth-child(3):hover{
                  border-radius: 0px 10px 0px 10px;
            }

            &:last-child:hover{
                  border-radius: 0px 10px 0px 10px;
            }

            &:last-child{
                  border-bottom: none;
            }

            &:first-child{
                  border-top: none;
                  font-size: 0.8rem;
            }
      }

      .list-menu {
            display: none;
      }

      .list-menus{
            display: flex;
            gap: 0rem;
      }

      .hamburger-icon{
           display: none;
      }

      .close-icon{
            display: none;
      }

      .contact, .about, .home, .login{
            font-size: 1rem;
      }

      .active{
            color: var(--list-menu-item-color);
            font-size: 0.8rem;
            text-align: center;
            padding: 0.2rem 0;
            width: 5rem;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
            background-color: var(--list-menu-item-color);
                  color: var(--list-menu-color);

            &:first-child{
                  border-radius: 0px 10px 0px 10px;
            }

            &:nth-child(2){
                  border-radius: 0px 10px 0px 10px;
            }

            &:nth-child(3){
                  border-radius: 0px 10px 0px 10px;
            }

            &:last-child{
                  border-radius: 0px 10px 0px 10px;
            }

            &:last-child{
                  border-bottom: none;
            }

            &:first-child{
                  border-top: none;
                  font-size: 0.8rem;
            }
      }
}





